{
  "branches": [
    {
      "name": "main",
      "prerelease": true
    },
    "stable"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "breaking": true,  "release": "major" },
          { "revert": true,    "release": "patch" },
          { "type": "feat",    "release": "minor" },
          { "type": "fix",     "release": "patch" },
          { "type": "rfct",    "release": "patch" },
          { "type": "style",   "release": "patch" },
          { "type": "typo",    "release": "patch" },
          { "type": "grammar", "release": "patch" },
          { "type": "ambig",   "release": "patch" },
          { "type": "punctua", "release": "patch" },
          { "type": "chore",   "release": "patch" },
          { "type": "ci",      "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            { "type": "feat",    "section": "Features",          "hidden": false },
            { "type": "fix",     "section": "Bug Fixes",         "hidden": false },
            { "type": "rfct",    "section": "Refactors",         "hidden": false },
            { "type": "style",   "section": "Style Improves",    "hidden": false },
            { "type": "typo",    "section": "Typo Fixes",        "hidden": false },
            { "type": "grammar", "section": "Grammar Fixes",vv   "hidden": false },
            { "type": "ambig",   "section": "Ambiguity Fixes",   "hidden": false },
            { "type": "punctua", "section": "Punctuation Fixes", "hidden": false },
            { "type": "chore",   "section": "Chores",            "hidden": false },
            { "type": "ci",      "section": "CI",                "hidden": true }
          ]
        }
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "ebook/epub/药娘的天空.epub",     "name": "transky-${nextRelease.version}.epub" },
          { "path": "ebook/mobi/药娘的天空.mobi",     "name": "transky-${nextRelease.version}.mobi" },
          { "path": "ebook/typst-pdf/药娘的天空.pdf", "name": "transky-${nextRelease.version}.pdf" }
        ],
        "successComment": false,
        "failComment": false
      }
    ],
    [
      "@saithodev/semantic-release-backmerge",
      {
        "backmergeBranches": [{ "from": "stable", "to": "main" }],
        "clearWorkspace": true
      }
    ]
  ]
}
