branches:
  - main
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - type: feat
          release: minor
        - type: fix
          release: minor
        - type: refactor
          release: patch
        - type: style
          release: patch
        - type: typo
          release: patch
        - type: grammar
          release: patch
        - type: ambig
          release: patch
        - type: punctua
          release: patch
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/github"
    - assets:
        - path: book/epub/药娘的天空.epub
          name: transky-${nextRelease.version}.epub
        - path: book/mobi/药娘的天空.mobi
          name: transky-${nextRelease.version}.mobi
        - path: book/typst-pdf/药娘的天空.pdf
          name: transky-${nextRelease.version}.pdf
preset: conventionalcommits
presetConfig:
  - types:
      - type: feat
        section: Features
      - type: fix
        section: Bug Fixes
      - type: refactor
        hidden: true
      - type: style
        section: Style Improvements
      - type: typo
        section: Typo Fixes
      - type: grammar
        section: Grammar Fixes
      - type: ambig
        section: Ambiguity Fixes
      - type: punctua
        section: Punctuation Fixes
      - type: chore
        hidden: true
      - type: ci
        hidden: true
